.f{
    background: rgb(241, 171, 171);
}

.mx-auto{
margin: auto;

}
.centrer{
    display: block;
    float: none;
    margin: auto;
}
.custom-file-label::after {
    content: "Parcourir" !important;
}